<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spear_B_d_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1489},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{71,1389},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1141},{66,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_d_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{66,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1465},{66,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_d_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,201},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{69,1777},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1589},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1689},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{66,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1629},{66,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_d_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1789},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{89,1},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,601},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,501},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,697},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,989},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{89,889},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,201},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{89,101},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,797},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ld_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,301},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,301},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1209},{62,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_lu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1273},{62,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_lu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{69,1873},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{69,1489},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,401},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,501},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,601},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_lu_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,701},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,801},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1337},{62,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_rd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1401},{62,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_rd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1725},{62,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_rd_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,101},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{133,1789},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{173,901},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{71,989},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{133,1885},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_rd_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{71,1089},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,201},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,599},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,699},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,793},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{71,1189},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,893},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,401},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,301},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,501},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_ru_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{87,401},{84,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1089},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1001},{68,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_u_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1071},{68,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_B_u_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{69,1585},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{71,1289},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{139,1533},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1189},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1289},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{69,1681},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_B_u_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{68,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1389},{68,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_d_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{1,1889},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>unit_blue.png</string>
            <key>size</key>
            <string>{236,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:533cc8344cc18d0e3561d9a8ed912098:0f0ba490b73bfdd5420514586d4a4a21:6700ec7834ac4f27f418986d50007088$</string>
            <key>textureFileName</key>
            <string>unit_blue.png</string>
        </dict>
    </dict>
</plist>
