<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spear_R_d_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{62,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1371,107},{62,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_d_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{62,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{223,233},{62,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_d_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{62,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{287,329},{62,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_d_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{62,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{605,393},{62,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_d_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{62,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{111,327},{62,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_d_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{641,329},{62,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_d_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{62,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{405,329},{62,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_d_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{223,111},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_d_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{62,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{523,329},{62,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_d_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{62,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{217,393},{62,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_d_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{62,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{751,325},{62,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_d_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{62,114}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{867,321},{62,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{227,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1151,107},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{497,393},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{927,215},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ld_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,331},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ld_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{111,221},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{339,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{451,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{563,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{675,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ld_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1033,213},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ld_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{787,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_lu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1261,107},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_lu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{669,393},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{775,389},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1139,213},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{287,219},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{393,219},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{499,219},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{605,219},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1261,107},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_lu_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{711,215},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1245,213},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_lu_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{817,215},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_rd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{899,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_rd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{111,391},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_rd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{881,385},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_rd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1351,225},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_rd_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1011,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_rd_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1123,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_rd_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1235,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_rd_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1347,1},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_rd_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{287,107},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_rd_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{393,107},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_rd_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{499,107},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_rd_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{605,107},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{117,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{711,107},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{821,107},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{931,107},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{281,393},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{387,393},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_ru_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,111},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-3}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{117,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,221},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1041,107},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_ru_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{113,111},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{983,321},{62,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_u_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{987,385},{62,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{62,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1179,383},{62,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{62,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1243,383},{62,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1089,319},{62,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_u_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1195,319},{62,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_u_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1051,385},{62,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{64,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1,443},{64,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_u_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{62,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1307,331},{62,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{62,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1371,331},{62,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_R_u_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{62,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1307,435},{62,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spear_R_u_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1115,383},{62,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>unit_red.png</string>
            <key>size</key>
            <string>{1458,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af2b8cee83d9d6d5fa9d673f01c84d83:c342a692fd5bbb250f707022f2fe3a05:6429b93c2086fb51f557e717466b03cc$</string>
            <key>textureFileName</key>
            <string>unit_red.png</string>
        </dict>
    </dict>
</plist>
