<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_barrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{166,133}</string>
                <key>spriteSourceSize</key>
                <string>{168,141}</string>
                <key>textureRect</key>
                <string>{{505,1},{166,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{168,144}</string>
                <key>textureRect</key>
                <string>{{337,1},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_lake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,111}</string>
                <key>spriteSourceSize</key>
                <string>{168,111}</string>
                <key>textureRect</key>
                <string>{{505,136},{166,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,111}</string>
                <key>spriteSourceSize</key>
                <string>{168,111}</string>
                <key>textureRect</key>
                <string>{{673,120},{166,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{171,153},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_null.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{337,147},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_plain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,111}</string>
                <key>spriteSourceSize</key>
                <string>{165,111}</string>
                <key>textureRect</key>
                <string>{{841,120},{165,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_rich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{168,117}</string>
                <key>textureRect</key>
                <string>{{673,1},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_sea_withProp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1,153},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,117}</string>
                <key>spriteSourceSize</key>
                <string>{168,117}</string>
                <key>textureRect</key>
                <string>{{841,1},{166,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_volcano.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{168,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_volcano_activated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,150}</string>
                <key>spriteSourceSize</key>
                <string>{168,150}</string>
                <key>textureRect</key>
                <string>{{169,1},{166,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1008,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e7734c041d9a091699468333b8dac98:723db0bf03ded9b3da7c93042bfd57d5:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
