<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_barrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{168,112}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{171,1},{168,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,123}</string>
                <key>spriteSourceSize</key>
                <string>{168,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_lake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{681,1},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1191,1},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_null.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{171,115},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_plain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{851,1},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_rich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,96}</string>
                <key>textureRect</key>
                <string>{{341,1},{168,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_sea_withProp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{681,1},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,96}</string>
                <key>textureRect</key>
                <string>{{511,1},{168,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_volcano.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1021,1},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1356,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f556e2058abef75e31cb7e3df70fe3f:ac89103e3cca3bdf63865938c0fef374:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
