<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_barrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{168,112}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{1,258},{168,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,123}</string>
                <key>spriteSourceSize</key>
                <string>{168,123}</string>
                <key>textureRect</key>
                <string>{{1,133},{168,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_lake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1,568},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1,660},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1,844},{164,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_null.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,914},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_plain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1,752},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_rich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,96}</string>
                <key>textureRect</key>
                <string>{{1,372},{168,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_sea_withProp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{168,90}</string>
                <key>textureRect</key>
                <string>{{1,568},{168,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,96}</string>
                <key>textureRect</key>
                <string>{{1,470},{168,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_volcano.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{168,130}</string>
                <key>spriteSourceSize</key>
                <string>{168,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{170,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b031a778be55d251b2485b9cdadca6ae:7c0766707b0d4413c64f705b4486cd39:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
