<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{907,1753},{12,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{1026,416},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{1026,442},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{1026,468},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{1026,494},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{1026,520},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anchor_ld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,15}</string>
                <key>spriteSourceSize</key>
                <string>{45,15}</string>
                <key>textureRect</key>
                <string>{{875,1685},{45,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anchor_lu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,15}</string>
                <key>spriteSourceSize</key>
                <string>{45,15}</string>
                <key>textureRect</key>
                <string>{{875,1702},{45,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anchor_rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,15}</string>
                <key>spriteSourceSize</key>
                <string>{45,15}</string>
                <key>textureRect</key>
                <string>{{875,1719},{45,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anchor_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,15}</string>
                <key>spriteSourceSize</key>
                <string>{45,15}</string>
                <key>textureRect</key>
                <string>{{875,1736},{45,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,15}</string>
                <key>spriteSourceSize</key>
                <string>{2000,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{2000,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{822,1821},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,568}</string>
                <key>spriteSourceSize</key>
                <string>{800,568}</string>
                <key>textureRect</key>
                <string>{{18,1},{800,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{875,1753},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{994,460},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{875,1785},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{994,492},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{875,1817},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dice6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{994,524},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_turn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{18,1711},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_turn_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{892,1},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{18,1813},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{892,403},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{994,416},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grain_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,47}</string>
                <key>spriteSourceSize</key>
                <string>{107,47}</string>
                <key>textureRect</key>
                <string>{{994,1},{107,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{822,1871},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{872,1871},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{892,805},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_menu_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{420,1711},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{420,1813},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mute_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{18,1915},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_rotate_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{822,1685},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_rotate_mouse_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,66}</string>
                <key>spriteSourceSize</key>
                <string>{51,66}</string>
                <key>textureRect</key>
                <string>{{822,1753},{51,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{822,1921},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{872,1921},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,568}</string>
                <key>spriteSourceSize</key>
                <string>{800,568}</string>
                <key>textureRect</key>
                <string>{{18,571},{800,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,568}</string>
                <key>spriteSourceSize</key>
                <string>{800,568}</string>
                <key>textureRect</key>
                <string>{{18,1141},{800,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{420,1915},{400,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{820,1283},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rotatable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{1026,546},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rotatable_not.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{875,1849},{15,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{922,1207},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start_button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,100}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{922,1609},{400,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{892,1207},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,41}</string>
                <key>spriteSourceSize</key>
                <string>{151,41}</string>
                <key>textureRect</key>
                <string>{{994,110},{151,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,41}</string>
                <key>spriteSourceSize</key>
                <string>{151,41}</string>
                <key>textureRect</key>
                <string>{{994,263},{151,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,70}</string>
                <key>spriteSourceSize</key>
                <string>{1280,70}</string>
                <key>textureRect</key>
                <string>{{820,1},{1280,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{822,1971},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{872,1971},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui_image.png</string>
            <key>size</key>
            <string>{1042,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76603a4b6bb0604ecc8fd3c237ca2305:2dffe831cf820f2e340a48d2a86adb05:3e0f0e92f2f84ea30987345b50041ca2$</string>
            <key>textureFileName</key>
            <string>ui_image.png</string>
        </dict>
    </dict>
</plist>
